    <ul class="section-items list-unstyled nav flex-column pb-3">
				    <li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-#index"><span class="theme-icon-holder mr-2"><i class="fas fa-map-signs"></i></span>#tname</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-#index-1">#tname Endpoint</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-#index-2">#tname Özellikler</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-#index-3">#tnameParam Parametre</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-#index-4">#tnameSelect Parametre</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-#index-5">#tnameFilter Parametre</a></li>

			    </ul>