
			    <article class="docs-article" id="section-#index">
				    <header class="docs-header">
					    <h1 class="docs-heading">#tname <span class="docs-time">Son Güncelleme: #utime</span></h1>
					    <section class="docs-intro">
						    <p>Bu Kısma Api ile ilgili Bilgiler ile Güncellenecek.</p>
						</section><!--//docs-intro-->
						
				    </header>
				    <section class="docs-section" id="item-#index-1">
						<h2 class="section-heading">#tname Endpointler</h2>
						<p>Bu kısma açıklama Gelecek. </p>
						
						    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th class="theme-bg-light">Endpoint :</th>
            <td>
                {url}/#tname/get}
            </td>
        </tr>
        <tr>
            <td>Method :</td>
            <td>Get</td>
        </tr>
        <tr>
            <td>Parameter :</td>
            <td> #tnameParam </td>
        </tr>
        <tr>
            <td>Response :</td>
            <td> ResultModel (resultdata: List(#tname) </td>
        </tr>
    </tbody></table></div>

    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th class="theme-bg-light">Endpoint :</th>
            <td>{url}/#tname/{id}/get</td>
        </tr>
        <tr>
            <td>Method :</td>
            <td>Get</td>
        </tr>
        <tr>
            <td>Parameter :</td>
            <td> #tnameSelect </td>
        </tr>
        <tr>
            <td>Response :</td>
            <td> ResultModel (resultdata: #tname)</td>
        </tr>
    </tbody></table></div>

    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th class="theme-bg-light">Endpoint :</th>
            <td>{url}/#tname/count</td>
        </tr>
        <tr>
            <td>Method :</td>
            <td>Get</td>
        </tr>
        <tr>
            <td>Parameter :</td>
            <td> #tnameFilter </td>
        </tr>
        <tr>
            <td>Response :</td>
            <td> ResultModel (resultdata: int)</td>
        </tr>
    </tbody></table></div>

    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th class="theme-bg-light">Endpoint :</th>
            <td>{url}/#tname/Create</td>
        </tr>
        <tr>
            <td>Method :</td>
            <td>Post</td>
        </tr>
        <tr>
            <td>Body :</td>
            <td> #tname </td>
        </tr>
        <tr>
            <td>Response :</td>
            <td> ResultModel (resultdata: #tname)</td>
        </tr>
    </tbody></table></div>

    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th class="theme-bg-light">Endpoint :</th>
            <td>{url}/#tname/Update</td>
        </tr>
        <tr>
            <td>Method :</td>
            <td>Post</td>
        </tr>
        <tr>
            <td>Body :</td>
            <td> #tname </td>
        </tr>
        <tr>
            <td>Response :</td>
            <td> ResultModel (resultdata: #tname)</td>
        </tr>
    </tbody></table></div>

    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th class="theme-bg-light">Endpoint :</th>
            <td>{url}/#tname/Delete</td>
        </tr>
        <tr>
            <td>Method :</td>
            <td>Post</td>
        </tr>
        <tr>
            <td>Body :</td>
            <td> id </td>
        </tr>
        <tr>
            <td>Response :</td>
            <td> ResultModel (resultdata: bool)</td>
        </tr>
    </tbody></table></div>

						
					</section><!--//section-->
					
					<section class="docs-section" id="item-#index-2">
						<h2 class="section-heading">#tname Özellikler</h2>
						<p>Bu kısma açıklama Gelecek. </p>
						
						
	
    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th>
                özellik
            </th>
            <th>Tipi</th>
            <th>
                Açıklama
            </th>
        </tr>
        <!--s1-->
        <tr>
            <td> #colname </td>
            <td> #coltype </td>
            <td> </td>
        </tr>
        <!--e1-->
        <!--s2-->
        <tr>
            <td> _#forName </td>
            <td> #forNameDto  </td>
            <td> </td>
        </tr>
        <!--e2-->
        <!--s3-->
        <tr>
            <td> #refNamelist</td>
            <td> List(#refName)</td>
            <td> </td>
        </tr>
        <!--e3-->
    </tbody></table></div>

						
					</section><!--//section-->
					
					<section class="docs-section" id="item-#index-3">
						<h2 class="section-heading">#tnameParam Parametre</h2>
						<p>Bu kısma açıklama Gelecek. </p>
						
						
    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th>
                Param
                </th>
            <th>Tipi</th>
            <th>
                Açıklama
                </th>
        </tr>
        <tr>
            <td> p.filter.#pkey </td>
            <td> int </td>
            <td> Tablonun tekil id si ile sorgulama yapar.</td>
        </tr>
        <!--s4-->
        <tr>
            <td> p.filter.#forName </td>
            <td> int </td>
            <td> #forName olan kayıtları getirir.</td>
        </tr>
        <!--e4-->
        <tr>
            <td> p.filter.order.order </td>
            <td> string </td>
            <td>  table.name objesi içindeki order edilecek kolon.</td>
        </tr>
        <tr>
            <td> p.filter.order.orderIsAsc </td>
            <td> bool </td>
            <td>true durumunda artan sırada sıralar. False sudurmunda azalan sırada sıralar</td>
        </tr>
        <tr>
            <td> p.filter.truncate.page </td>
            <td> int </td>
            <td>counta göre sayfalama yapar. count girilmezse default:10 dur. tüm kayıtları counta boler mevcut sayfayı getirir</td>
        </tr>
        <tr>
            <td> p.filter.truncate.count </td>
            <td> int </td>
            <td>offset girilmişse offsetten sonraki count kadar kayıt döner. default:10</td>
        </tr>
        <tr>
            <td> p.filter.truncate.offset </td>
            <td> int </td>
            <td>offset int </td>
        </tr>
        <!--s5-->
        <tr>
            <td> p.select.flag#forName </td>
            <td> bool </td>
            <td>Bağlı olduğu objeyi getirip getirmeyeceğini seçer</td>
        </tr>
        <!--e5-->

        <!--s6-->
        <tr>
            <td> p.select.flag#refNamelist </td>
            <td> bool </td>
            <td>Bağlı olduğu objeyi getirip getirmeyeceğini seçer</td>
        </tr>
        <!--e6-->
    </tbody></table></div>

						
					</section><!--//section-->
					
					<section class="docs-section" id="item-#index-4">
						<h2 class="section-heading">#tnameSelect Parametre</h2>
						<p>Bu kısma açıklama Gelecek. </p>
						
						
    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
        <tr>
            <th>
                Param
            </th>
            <th>Tipi</th>
            <th>
                Açıklama
                </th>
        </tr>
        <!--s7-->
        <tr>
            <td> select.flag#forName </td>
            <td> bool </td>
            <td>Bağlı olduğu objeyi getirip getirmeyeceğini seçer</td>
        </tr>
        <!--e7-->
        <!--s8-->
        <tr>
            <td> select.flag#refNamelist </td>
            <td> bool </td>
            <td>Bağlı olduğu objeyi getirip getirmeyeceğini seçer</td>
        </tr>
        <!--e8-->
    </tbody></table></div>

					</section><!--//section-->
					
					<section class="docs-section" id="item-#index-5">
						<h2 class="section-heading">#tnameFilter Parametre</h2>
						<p>Bu kısma açıklama Gelecek. </p>
						
						
    <div class="table-responsive my-4"> <table class="table table-bordered"><tbody>
	
        <tr>
            <th>
                Param
            </th>
            <th>Tipi</th>
            <th>
                Açıklama
            </th>
        </tr>
        <tr>
            <td> filter.#pkey </td>
            <td> int </td>
            <td> Tablonun tekil id si ile sorgulama yapar.</td>
        </tr>
        <!--s9-->
        <tr>
            <td> filter.#forName </td>
            <td> int </td>
            <td> #forName olan kayıtları getirir.</td>
        </tr>
        <!--e9-->
    </tbody></table></div>

						
					</section><!--//section-->
				
			    </article>
			