﻿@model myLibrary.Models.BeyannameTypeModel
@{
ViewBag.Title = "Edit";
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
<div class="headlines">
<h2><span>BeyannameType Yeni Kayıt</span></h2>
</div>
@using (Html.BeginForm("Edit", "AdminBeyannameType", FormMethod.Post, new { @class = "formBox" }))
{
@Html.ValidationSummary(true)
<fieldset>
<div class="clearfix">
<div class="lab">
@Html.LabelFor(model => model.Name)
</div>
<div class="con">
@Html.TextBoxFor(model => model.Name, new { @class = "input", name = "", id = "input-one" })
@Html.ValidationMessageFor(model => model.Name)
</div>
</div>
<div class="btn-submit">
<input type="submit" value="Kaydet" class="button" /> veya @Html.ActionLink("İptal","Index",new{},new{@class="cancel"} )
</div>
</fieldset>
}
</div>
<div>
@Html.ActionLink("Geri Dön", "Index")
</div>
