﻿@model IEnumerable<myLibrary.Models.ModelName>

@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 <!-- box -->
        <div class="box">
          <div class="headlines">
            <h2><span>Header</span></h2>
          </div>
        <div style="padding-left:20px;">@Html.ActionLink("Yeni Ekle","Create")</div>
          <!-- table -->
          <table class="tab tab-drag">
            <tr class="top nodrop nodrag">
              <th class="dragHandle">&nbsp;</th>
               <th>item1</th>
              <th>item2</th>          
              <th>item3</th>
              <th class="action">İşlem</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
              <td class="dragHandle">&nbsp;</td>
              <td><a href="#">@item.Name</a></td>
              <td>@item.Header</td>          
              <td>@item.WebLink</td>
              
              <td class="action">
         
                 <a href="@Url.Action("Delete", new { id = item.primarykey })" class="ico ico-delete" title="Sil">Delete</a>
                  
                  <a href="@Url.Action("Edit", new { id= item.primarykey })" class="ico ico-edit" title="Düzenle">Edit</a>
              
                  <a href="@Url.Action("AddNN", new { id= item.primarykey })" class="ico ico-edit" title="Foreing Ekle">Foreing Ekle</a>
                  
               </tr>
            } </table>
          <!-- /table -->

          <!-- box-action -->  
     @*     <div class="tab-action">
            <select class="select">
              <option>Seçilileri Sil</option>
            </select>
            <input type="submit" value="Seçimi Uygula" class="submit" />
          </div>*@
          <!-- /box-action -->

          <!-- /pagination -->
          <div class="pagination">
           <ul>
         @*     <li class="graphic first"><a href="#"></a></li>
              <li class="graphic prev"><a href="#"></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li class="graphic next"><a href="#"></a></li>
              <li class="graphic last"><a href="#"></a></li>
         *@   </ul>
       
          </div>
          <!-- /pagination -->
       </div>
       <!-- /box -->
